input, button {
    border: 1px solid #A9A9A9;
}

.content-wrapper {
    padding: 3rem;
    margin: 0 auto;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-title {
    text-align: center;
    text-transform: uppercase;
}

.form-input, .form-button {
    padding: .8rem;
    margin-bottom: -1px;
}

.form-input {
    color: #383838;
    font-size: 1.2rem;
}

.form-input:hover {
    background-color: #f1592bab;
}

.form-input:hover::placeholder {
    color: #fff;
}

.form-input:focus {
    border: 1px solid #f1592b;
    background-color: #f1592bab;
    color: #fff;
    outline: none;
    transition: ease-in-out, border-color .35s ease-in-out;
    z-index: 1;
}

.form-input:focus::placeholder {
    color: #fff;
}

.form-error {
    border: 1px solid #ee4141;
    background-color: rgba(255, 0, 0, .5);
    transition: ease-in-out, border-color .35s ease-in-out;
    z-index: 1;
}

.form-error::placeholder {
    color: #ffffff;
}

.error-message {
    color: #ee4141;
    font-size: 1.3rem;
}

.form-button {
    background-color: #f1592b;
    color: #ffffff;
    font-size: 1.1rem;
    margin-bottom: .5rem;
}

.form-link {
    text-decoration: none;
    color: #2BC3F1;
    font-size: .8rem;
    text-align: right;
}

.form-link:visited {
    color: #2BC3F1;
}

.form-link:hover {
    color: #f1592b; 
}

.control-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-default {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    background-color: #f1592b;
    color: #FFFFFF;
    font-size: 1rem;

    padding: .8rem 2rem;
    margin: .8rem;

    border-radius: 10px;
    outline: none;
    border: none;
}

.form-button:hover, .btn-default:hover {
    background-color: #cf4920;
}

.btn-cadastro {
    background-color: #1eb93d;
    font-weight: 700;
}

.btn-cadastro:hover {
    background-color: #1c9b35;
}

.btn-editar {
    background-color: #1781d6;
}

.btn-editar:hover {
    background-color: #1466aa;
}

.btn-default > svg {
    margin: 0 .4rem;
}

.form-button, .btn-default, .btn-cadastro, .btn-editar {
    cursor: pointer;
}

@media (min-width: 750px) {
    .form-container {
        max-width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .form-container {
        max-width: 60%;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .form-container {
        max-width: 40%;
        margin: 0 auto;
    }
}

  