.categorias-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 1.5rem;
}

.categoria-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #38383880;
    margin-bottom: 1rem;
}

.categoria-card:last-child {
    padding-bottom: 1rem;
    justify-content: center;
}

.categoria-titulo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    vertical-align: middle;
}

.categoria-titulo {
    margin: .5rem;
}

.despesas-list {
    padding: 1rem;
    margin: 0;
}

.despesa-item {
    list-style-type: none;
    text-align: center;
    background-color: #f1592b;
    padding: .5rem;
    margin: .3rem;
    border-radius: 20px;
}

.despesa-item:hover {
    background-color: #d33b0d;
}

.despesa-text-container {
    display: flex;
    flex-flow: row wrap;
}

.despesa-text {
    margin: .2rem .8rem;
}

.despesa-item > a {
    text-decoration: none;
    color: #ffff;
}

.total-gastos-container {
    font-size: 1.2rem;
    font-weight: 700;
    color: #f1592b;
    text-align: center;
    text-shadow: 1px 1px #f1592b8c;
}

.categoria-button {
    align-self: center;
    padding: 1rem .8rem;

    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;    

    background-color: #f1592b5e;
    color: #f1592b;

    border: 2px solid #f1592b5e;
    border-radius: 1rem;
}

.categoria-button:hover {
    background-color: #f1592ba2;
}

.categoria-button > a {
    text-decoration: none;
}

@media (min-width: 750px) {
    .categorias-container {
        flex-flow: row wrap;
    }

    .categoria-card {
        flex: 1 0 41%;
        border: 1px solid #38383880;
        border-radius: 10px;
        margin: .3rem;
    }

    .despesa-text-container {
        justify-content: space-between;
    }

    .categoria-card:last-child {
        justify-content: center;
    }

    .categoria-button {
        margin: 1rem;
    }
}

@media (min-width: 950px) {
    .categoria-card {
        flex-basis: 35%;
    }
}

@media (min-width: 1024px) {
    .categoria-card {
        flex-basis: 25%;
    }

    @media (min-width: 1500px) {
        .categoria-card {
            flex-basis: 18%;
        }
    }
} 